.list {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.center {
  text-align: center;
}
