.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: 40px 0;
}

.time {
  font-size: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.date {
  font-size: 1rem;
}
