@import 'variables';

* {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: $primaryColor;
}

.App {
  display: grid;
  grid-template-columns: 1rf;
  gap: 24px;
  align-items: center;
}

.center {
  text-align: center;
}
