@import 'variables';

* {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  ::-webkit-scrollbar {
    display: none;
  }
}

.App {
  display: grid;
  gap: 16px;
  align-items: center;
  grid-template-rows: auto auto;
  /* Два ряда */
  grid-template-columns: 1fr 1fr;

  /* Два столбца */
  @media (max-width: $md) {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .App {
    max-width: 768px;
    /* Максимальная ширина 768px */
    margin: 0 auto;
    /* Центрирование */
  }
}

.center {
  text-align: center;
}


.AppContainer {
  padding-top: 16px;
}